@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
  "googleColor": rgb(189, 53, 12),
  "loginButtonColor": rgb(9, 105, 9),
  "signupButtonColor": rgb(6, 83, 6),
  "newTestColor": rgb(21, 110, 226),
  "backButtonColor": rgb(194, 38, 46),
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($theme-colors, $utilities-colors);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";
